.viewport-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.viewport-buttons-text1 {
	position: absolute;
	font-size: 10px;
  top: 5px;
  right: 0;
	color: #e57373 !important;
}

.viewport-buttons-text2 {
	position: absolute;
	font-size: 10px;
	width: 56px;
	text-align: center;
  top: 19px;
	right: 0;
	color: #e57373 !important;
}
