.action-selection {
  width: 250px;
  padding-right: 16px;
}

.action-button {
  width: 263px;
  text-align: right;
}
.action-progress-wrapper {
  display: inline-block;
  width: 450px;
}

.action-progress {
  width: 300px;
  padding-left: 25px;
}
