.menu {
  width: 220px !important;
  max-width: 260px !important;
  min-width: 200px !important;
}

.mat-menu {
  width: 220px !important;
  max-width: 220px !important;
  min-width: 200px !important;
}

.login-menu {
  width: 260px !important;
}

.user-menu {
  width: 300px !important;
}

.user-menu-item {
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 42px;
  padding: 0 12px 0 12px;
}

.form-field-login {
  width: 236px;
  margin: 0 12px -15px 12px;
  padding: 5px 0;
}

#username {
  -webkit-appearance: none;
  width: 230px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #111;

  border: none !important;
  padding: 1px 0 0 4px;
  margin: 0;
  text-align: left;
  border-radius: 0px;
}

#password {
  -webkit-appearance: none;
  width: 230px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #111;

  border: none !important;
  padding: 1px 0 0 4px;
  margin: 0;
  text-align: left;
  border-radius: 0px;
}
