<div class="tools-right">
  <div *ngIf="component !== 'inline'" class="flex-column">
    <kd-snapshots-menu></kd-snapshots-menu>
    <mat-button-toggle-group
      [value]="component"
      (change)="onChangeGroup($event)"
      [multiple]="false"
      [vertical]="true"
      class="small group"
    >
      <mat-button-toggle
        [value]="'storage'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.DATABASE"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>storage</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="'editor'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.EDIT"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>edit</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="'code'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.CODE_EDITOR"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>developer_mode</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="'history'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.HISTORY"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>history</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="'target'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.TRANSLATE"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>translate</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="'json'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.SHOW_JSON"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>code</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="'snapshot'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.DATABASE"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>compare</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group
      [value]="'toc'"
      (change)="onChangeGroup($event)"
      [multiple]="false"
      [vertical]="true"
      class="small group"
    >
      <mat-button-toggle
        [value]="'toc'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.SHOW_TOC"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>toc</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="'edittoc'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.EDIT_TOC"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>low_priority</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group
      (change)="onChangeGroup($event)"
      [multiple]="true"
      [vertical]="true"
      class="small group"
    >
      <mat-button-toggle
        [value]="'debug'"
        (change)="onChangeButton($event)"
        [matTooltip]="dS.system.txts.DEBUGGER"
        [matTooltipPosition]="'left'"
        [matTooltipDisabled]="dS.noToolTips"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon>adb</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
