
.txt{
  position: absolute;
  font-size: larger;
  text-align: right;
  vertical-align: bottom;
  z-index: 10000;
}

.kind-1{
  margin-top: -10px;
  margin-left: -6px;
}
.kind-2{
  margin-top: -19px;
  margin-left: -5px;
}
.kind-3{
  margin-top: -17px;
  margin-left: -5px;
}
.kind-full-1{
  margin-top: -14px;
  margin-left: 0px;
  font-size: 28px;
}
.kind-full-1 sub{
  font-size: 28px !important;
}
.kind-full-2{
  margin-top: -28px;
  margin-left: -5px;
  font-size: 28px;
}
.kind-full-3{
  margin-top: -22px;
  margin-left: -5px;
  font-size: 28px;
}


.button-recompile{
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 80000 !important;
}


.menu-button {
  position: absolute;
  right:0;
  bottom: 0;
}

.buttons-a {
  position: absolute;
  bottom: 158px;
  right: -20px;
  background-color: #161616;
}
.buttons-a-full {
  right: 4px !important;
}
.buttons-b {
  position: absolute;
  bottom: 32px;
  right: -20px;
  background-color: #161616;
}
.buttons-b-full {
  right: 4px !important;
}
.viewport-buttons-text1 {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 0;
  color: #e57373 !important;
}

.viewport-buttons-text2 {
  position: absolute;
  font-size: 10px;
  width: 56px;
  text-align: center;
  top: 19px;
  right: 0;
  color: #e57373 !important;
}

.svgWrapper {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  width: 100%;
  margin-bottom: -10px;
}
@media screen and (max-width: 649px) {
  .svgWrapper {
    margin-top: 40px;
  }
}
.svgC {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.svgC-full {
  width: 100% !important;
  padding-top: 0 !important;
  height: calc(100vh - 75px) !important;
}
.can0 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.svg0 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.svg-background {
  border-radius: 3px !important;
}
.svg-background-full {
  border-radius: 0 !important;
  border: none !important;
}
.svg1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: scaleY(-1);
}
.svg2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.watermark {
}

.time {
  position: absolute;
  top: -20px;
  right: 4px;
  font-size: 12px;
  color: #777;
  z-index: 100000;
}
.time-full {
  top: 4px !important;
  right: 40px !important;
}
.svg-caption {
  position: absolute;
  bottom: -250px;
  left: 7px;
  height: 150px;
  width: 350px;
  padding: 5px 5px 5px 8px;
  background-color: #161616;
  border-radius: 4px;
}
.svg-caption-key {
  width: 70px;
  text-align: right;
  padding-right: 8px;
}
