.icon-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.invis-button {
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
}
.sticky-wrapper {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: 1000;
}
.close-all-buttons {
  position: absolute !important;
  top: -3px !important;
  right: 5px !important;
}

.scroll-feature {
  transition: all 0.5s;
  position: relative;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100%;
}

.scroll-vcontent-bottom {
  padding: 0;
  height: 100% !important;
}
.tree-vcontent-bottom {
  padding: 15px 15px 0 15px !important;
  z-index: 0;
}

.snav-button {
  position: absolute;
  right: 0em;
  top: 0em;
  z-index: 10000;
}
.close-button {
  position: absolute;
  right: 0em;
  bottom: 0em;
  z-index: 10000;
}

.num {
  font-variant-numeric: tabular-nums;
  /* vertical-align: middle; */
  padding-right: 6px;
  opacity: 0.8;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 52px;
  min-height: 52px;
}

.selected {
  color: rgb(23, 134, 199);

  font-weight: 700 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;

  border-top: 1px solid rgba(0, 0, 0, 0.17) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17) !important;

  min-height: 38px !important;
}
.mat-tree-node {
  text-align: left;
  min-height: 40px;
  font-weight: 400;
}

.item {
  display: table;
  width: 100%;
  min-height: 30px;
  vertical-align: middle;
}
