.kd-view-svg-box {
  min-height: 2.2em;
  margin: 0.12em 0;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.kd-view-latex-box {
  min-height: 2.2em;
  width: 100%;
  padding: 2px 0;
  vertical-align: middle;
  text-align: left;
  align-items: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.svg-handset-portrait {
  transform: scale(0.5);
  width: 450px !important;
}
.kd-view-svg {
  width: 100%;
  vertical-align: middle;
  text-align: left;
  align-items: center;
}

.title-figure {
  position: relative;
  top: -0.5em;
  left: 0;
  margin-top: -1.4em;
  margin-block-start: 0em !important;
  margin-block-end: 1.2em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.img-container {
  overflow: hidden;
}

.fig-grid {
  margin: 0;
}

.kd-full-view {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  z-index: 7000;
  text-align: center;
  background: #212121;
  padding: 20px;
}

.kd-full-view img {
  position: relative;
  top: -3px;
  left: -3px;
  display: inline-block;
  padding: 3px;
  border: none !important;
  border-radius: 0 !important;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.cell-numeration-figure {
  display: table-cell;
  vertical-align: top;
  white-space: nowrap;
  min-width: 50px;
  padding-right: 5px;
  opacity: 0.7;
}
.cell-caption-figure {
  display: table-cell;
  vertical-align: top;
  margin-bottom: 1em !important;
}

.figcaption {
  /*
  display: inline-block;
  */
  margin-bottom: 0.5em;
}
