.row {
  font-size: 13px;
  font-family: monospace;
}
.label {
  text-align: right;
  opacity: 0.8;
}
.value {
  max-width: 250px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper {
  position: fixed;
  top: 100px;
  left: 0;
  /* max-width: 420px; */
  padding: 5px;
  border-radius: 6px;
  z-index: 6000;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  border-radius: 4px;
  border: 1px solid rgba(128 , 128, 128, 0.35);
}
.wrapper:hover {
  cursor: grabbing !important;
}

.toolbar {
  width:143px;
  height: 22px;
}
.class-select {
  font-size: 12px;
  /* font-family: monospace; */
  width: 70px;
}
.prim-select {
  font-size: 12px;
  /* font-family: monospace; */
  width: 55px;
}
.option {
  font-size: 14px;
}

.select {
  position: absolute;
  top: 32px;
  right: -3px;
  color: #ccc;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
