.header {
  margin-bottom: 30px;
}

@media screen and (max-width: 667px) {
  .header {
    margin-bottom: 16px;
  }
}
.heading {
  margin-bottom: 0px !important;
  margin-block-start: 18px;
  margin-block-end: 0;
}

.subtitle {
  font-size: 14px;
  opacity: 0.95;
}
