.mat-divider {
  border-top-width: 2px;
  border-top-style: solid;
}

.numeration {
  display: table-cell;
  white-space: nowrap;
  min-width: 50px;
  padding-right: 5px;
  opacity: 0.7;
}

.mat-mdc-select-panel {
  max-height: 286px !important;
  position:relative;
  top: -32px;
  left: 0;
}

.undo {
  width: 160px;
  height: 40px;
  min-width: 160px;
  min-height: 40px;
  max-width: 160px;
  max-height: 40px;
  vertical-align: middle;
  overflow: hidden;
}
.selection {
  width: 120px;
  vertical-align: middle;
}

.project-caption {
  position: relative;
  top: 0;
  left: 0;
  z-index: 990;
}

.cell-caption-project {
  position: relative;
  top: 0;
  left: 0;
  display: table-cell;
  max-width: 400px;
  height: 17px;
  vertical-align: baseline;
  overflow-x: hidden;
  overflow-y: visible;
  overflow: visible;
  z-index: 990;
}

.kd-projects {
  position: relative;
  top: 1px;
  left: 0;
  text-align: left;
  margin-left: 3px;
}

@media screen and (min-width: 539px) {
  .undo {
    display: table-cell;
  }
  .selection {
    display: table-cell;
  }
}
