.admin-tab {
  font-size: 17px;
  min-width: 100px !important;
  width: 105px !important;
}

.aux-header {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
