<mat-card
  appearance="outlined"
  [style.min-height]="vS.size.articleMinHeight + 18 + 'px'"
  style="width: 1280px"
>
  <div class="aux-header">
    <div>
      <span class="dimm-6 small">Besucher:  </span
      ><span style="font-size: 22px" class="kd-warn"
        >{{ dS.status.usersActiveCount }}  </span
      >
    </div>
    <mat-checkbox
      [(ngModel)]="pS.pref.notify"
      (ngModelChange)="pS.pref.save({ notify: pS.pref.notify })"
      labelPosition="before"
      class="checkbox-label-small"
      >Palim:</mat-checkbox
    >  
    <button mat-icon-button class="center">
      <mat-icon (click)="reload()">autorenew</mat-icon>
    </button>
  </div>
  <mat-tab-group
    *ngIf="pS.prefLoaded"
    [selectedIndex]="pS.pref.admin.active || 0"
    (selectedIndexChange)="onTabChange($event)"
    (animationDone)="onTabChangeDone()"
    [animationDuration]="'500ms'"
    [@.disabled]="false"
  >
    <mat-tab class="admin-tab">
      <ng-template mat-tab-label>
        <div class="admin-tab">{{ dS.system.txts.ANALYTICS }}</div>
      </ng-template>
      <kd-stats
        [palim]="pS.pref.notify"
        [bust]="bust"
        [tabIndex]="pS.pref.admin.active || 0"
      ></kd-stats>
    </mat-tab>
    <mat-tab class="admin-tab">
      <ng-template mat-tab-label>
        <div class="admin-tab">{{ dS.system.txts.USER }}</div>
      </ng-template>
      <kd-users></kd-users>
    </mat-tab>
    <mat-tab class="admin-tab">
      <ng-template mat-tab-label>
        <div class="admin-tab">Logs</div>
      </ng-template>
      <kd-logs
        [context]="'system'"
        [tabIndex]="pS.pref.admin.active || 0"
      ></kd-logs>
    </mat-tab>
    <mat-tab class="admin-tab">
      <ng-template mat-tab-label>
        <div class="admin-tab">{{ dS.system.txts.DATABASE }}</div>
      </ng-template>
      <kd-database></kd-database>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="admin-tab">{{ dS.system.txts.PUBLISH }}</div>
      </ng-template>
      <div>&nbsp;</div>
      <kd-deploy></kd-deploy>
    </mat-tab>
    <mat-tab class="admin-tab">
      <ng-template mat-tab-label>
        <div class="admin-tab">Einrichten</div>
      </ng-template>
      <kd-setting></kd-setting>
    </mat-tab>
    <mat-tab class="admin-tab">
      <ng-template mat-tab-label>
        <div class="admin-tab">Mitteilung</div>
      </ng-template>
      <kd-set-notifications></kd-set-notifications>
    </mat-tab>
  </mat-tab-group>
</mat-card>
