.tools {
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 5000;
  min-width: 220px;
}
.numeration {
  display: inline-block;
  font-size: 12px;
  min-width: 35px;
}

.input {
  width: 180px;
  margin: 8px 0 4px 0;
  border: none;
  border-radius: 4px;
  height: 26px;
}

.form-field {
  width: 90%;
  margin: 0 10px 0 10px;
}

.menu-item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  line-height: 18px;
  white-space: nowrap !important;
}
.menu-item-body {
  font-size: small;
  line-height: 16px !important;
  white-space: normal !important;
  opacity: 0.8;
  max-width: 400px !important;
}
