.tools-right {
  position: absolute;
  right: 15px;
  top: 8px;
  margin-top: 8px;
  z-index: 8000;
}

.checkouts {
  position: absolute;
  right: 32px;
  top: 8px;
  margin-top: 8px;
  z-index: 8000;
}

.icon {
  margin-right: 0;
}
