.fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7000;
}
.vp-fullscreen {
  width: calc(100vh * 1.5);
  max-width: 100vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.fullscreen-button {
  position: absolute;
  right:0;
  bottom: 0;
}
.figcaption {
  margin-top: 4px;
  font-size: 14px;
  line-height: 19px;
}

.host-options {
  margin-top: -1em;
}

.read-more {
  position: relative;
  top: 12px;
  left: 0;
  font-size: 16px;
}

.elm-wrapper {
  height:100%;
}

.elm-wrapper-wide-margin {
  position: relative;

  margin-block-start: 2em !important;
  margin-block-end: 2em !important;
}
.elm-seperator {
  height: 2px;
}

.data-row {
  min-height: 1em;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

.scroll-info {
  position: absolute;
  top: 0;
  right: 12px;
  opacity: 0.5;
  z-index: 10000;
}

.kd-table {
  margin: 0 auto 0 auto;
}

.child-element {
  max-width: 768px !important;
  position: relative;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.fullscreen-elm {
  max-width: 768px !important;
  margin: 170px auto auto auto;
}

.tile-align-left {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.mat-mdc-card-title {
  font-family: 'myriad-pro-condensed', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  font-size: 2em;
  font-weight: 400;
  width: 100%;
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

.mat-mdc-card-subtitle {
  font-size: 0.9em;
  font-weight: 400;
}

.kd-caption {
  margin-top: 0.4em;
}

.language-button {
  position: absolute;

  vertical-align: middle;
  top: 0;
  right: 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-mdc-card-avatar {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.avatar {
  border-radius: 2px !important;
}

.head {
  height: 54px;
  width: 320px;
}

.head-select {
}

.kd-lbl-article-child-child {
  text-align: right;
  padding-right: 0;
  /*
  min-width: 14em;
  max-width: 16em;
  white-space: nowrap;
  */
  overflow: hidden;
  text-overflow: ellipsis;
}

.kd-article-child-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.kd-padding-relation {
  padding: 0 0.2em;
}
.kd-padding-sign {
  padding: 0 0.25em 0 0.25em;
}

.kd-padding-unit-col {
  padding: 0 0 0 0.15em;
  overflow: visible;
}

.value-button {
  min-width: 1em;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}

.card-bottom {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 10px;
  left: 0;
  margin: 20px 20px;
}

.reference-title {
  font-style: italic;
}

.sign-cell {
  display: table-cell;
  font-weight: 400;
  vertical-align: middle;
  padding: 0 0.4em !important;
}
.unit-cell {
  display: table-cell;
  font-weight: 300;
  vertical-align: middle;
  min-width: 3em;
  overflow: visible;
  white-space: nowrap;
}

.key-cell {
  display: table-cell;
  font-family: Menlo, monospace;
  font-size: 0.9em;
  font-weight: 400;
  vertical-align: middle;
  min-width: 4em;
  padding: 0 0.4em !important;
}

.test {
  color: #f00 !important;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
