.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #eee;
}

.expand-all-button {
  position: absolute;
  left: -10px;
  top: 0;
}

.volume-button {
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  font-size: 26px !important;
  font-weight: 400;
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

.kd-projects-button {
  text-align: right;
  margin-bottom: -0.2em;
  /*
  min-width: 7em;
  */
  font-size: 14px;
}
