.icon-step-down {
  touch-action: manipulation;
  position: absolute;
  font-size: 2em;
  left: -20px;
  top: 0px;
  height: 28px;
  width: 28px;
  -webkit-user-select: none;
  background-color: white;
}

.icon-input {
  position: absolute;
  font-size: 2em;
  left: 0px;
  top: 0px;
  height: 1em;
  width: 2.4em;
  opacity: 0;
  -webkit-user-select: none;
}

.icon-step-up {
  touch-action: manipulation;
  position: absolute;
  font-size: 2em;
  right: -8px;
  top: 0px;
  height: 28px;
  width: 28px;
  -webkit-user-select: none;
  background-color: white;
}
