.cookie-warning {
  width: 400px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 1rem; */
  background-color: #fff;
  z-index: 10000;

  /* display: flex; */
}

.cookie-warning-text {
  padding: 12px 0 12px 0;
}
