<kd-cookie-popup></kd-cookie-popup>
<mat-toolbar *ngIf="true" color="primary" class="kd-navbar-header">
  <!-- <button
    aria-label="Sidenav-Navigation"
    mat-icon-button
    (click)="drawer.toggle()"
    class="navbar-icon-button"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <button
    matIconButton
    routerLink="/"
    style="width: 110px"
    aria-label="Kdia Logo"
  >
    <mat-icon style="width: 100%"
      ><kd-logo [name]="logoName"></kd-logo
    ></mat-icon>
  </button>
  <a
    matButton="text"
    routerLink="/volumes/forming-handbuch"
    aria-label="Kdiam Handbook"
  >
    Handbuch Blechumformung
  </a>
  <a
    matButton="text"
    routerLink="/volumes/kompendia-redaktionssytem"
    aria-label="About Kompendiam"
  >
    Über Kompendiam
  </a>
  <a
    matButton="text"
    routerLink="/de/admin"
    aria-label="Kdiam Admin"
    routerLinkActive="docs-navbar-header-item-selected"
  >
    Admin
  </a>

  <!--   <kd-main-nav [pos]="'top-left'"></kd-main-nav>
 -->
  <!-- <kd-jobs></kd-jobs> -->
  <!-- <kd-feature [role]="'news'" [pos]="'top-right'"></kd-feature> -->

  <!-- <kd-main-tools
    [class.prerender-display]="vS.userAgentIsPrerender"
    [pos]="'top-right'"
  ></kd-main-tools> -->

  <div class="spacer"></div>
  <mat-checkbox
    [(ngModel)]="showDebug"
    labelPosition="before"
    style="opacity: 0.5"
    >Debug</mat-checkbox
  >

  @if (showDebug) { <span class="small">elms alive: </span
  ><span class="kd-warn">{{cM.arr.length}} </span>
  <div style="line-height: 15px">
    <span class="small">count: </span>
    <span class="kd-warn">{{cM.debug.countIdbLoad}} </span>
    <span class="small">timeIdb: </span>
    <span class="kd-warn">{{cM.debug.timeIdbLoad}} </span><br /><span
      class="small"
      >count:
    </span>
    <span class="kd-warn">{{cM.debug.countHttpLoad}} </span
    ><span class="small">timeHttp: </span>
    <span class="kd-warn">{{cM.debug.timeHttpLoad}} </span>
  </div>
  }

  <div class="spacer"></div>
  <a matButton="text" routerLink="/de/admin" aria-label="Kdiam Admin">
    Kontakt
  </a>
  <theme-picker />
  <div
    data-nosnippet
    *ngIf="false"
    style="position: absolute; bottom: 0; left: 0; width: 100%; height: 36px"
  >
    <div
      class="noscript-show kd-warn blink"
      style="display: none; width: 100%; text-align: center"
    >
      App needs javascript enabled...
    </div>
    <div
      class="noscript-hide kd-warn blink"
      style="width: 100%; text-align: center"
    >
      App loading...
    </div>
    <mat-progress-bar
      mode="indeterminate"
      color="warn"
      class="noscript-hide"
    ></mat-progress-bar>
  </div>
</mat-toolbar>

<router-outlet />
