<mat-toolbar *ngIf="true" color="primary" class="mat-elevation-z6 relative">
  <button
    aria-label="Sidenav-Navigation"
    mat-icon-button
    (click)="drawer.toggle()"
    class="navbar-icon-button"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <!--   <kd-main-nav [pos]="'top-left'"></kd-main-nav>
 -->
  <!-- <kd-jobs></kd-jobs> -->
  <!-- <kd-feature [role]="'news'" [pos]="'top-right'"></kd-feature> -->

  <!-- <kd-main-tools
    [class.prerender-display]="vS.userAgentIsPrerender"
    [pos]="'top-right'"
  ></kd-main-tools> -->
  <div class="example-spacer"></div>
  <theme-picker />
  <div
    data-nosnippet
    *ngIf="false"
    style="position: absolute; bottom: 0; left: 0; width: 100%; height: 36px"
  >
    <div
      class="noscript-show kd-warn blink"
      style="display: none; width: 100%; text-align: center"
    >
      App needs javascript enabled...
    </div>
    <div
      class="noscript-hide kd-warn blink"
      style="width: 100%; text-align: center"
    >
      App loading...
    </div>
    <mat-progress-bar
      mode="indeterminate"
      color="warn"
      class="noscript-hide"
    ></mat-progress-bar>
  </div>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <kd-volume-content *ngIf="cM.selVol" [drawer]="drawer"></kd-volume-content>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet />
  </div>

  <mat-toolbar
    *ngIf="true"
    color="primary"
    class="mat-elevation-z6 relative footer"
    >kdiam v<kd-app-version></kd-app-version
  ></mat-toolbar>
</mat-drawer-container>
