.wrapper {
  /* flex-grow: 1; */
}

.form-field {
  width: 125px;
  margin-bottom: -7px;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin: 2px 0 -2px 0;
  width: calc(100% - 20px);
}

.footer {
  padding: 0 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  overflow: hidden;
}
