.monaco-container {
  height: 120px;
}
.equation-container {
  height: 100px;
  margin: 10px 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.equ-empty-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
  opacity: 0.5;
}
.equ-empty-text {
  opacity: 0.5;
}
.col-edit {
  position: relative;
  margin: 5px 0 5px 10px;
}
.btn-file-table {
  position: absolute;
  top: 40px;
  right: 0;
}
.btn-close-drawer {
  position: absolute;
  top: -5px;
  right: 0;
  width: 22px;
  height: 52px;
  z-index: 10000;
}
.btn-nav-drawer {
  position: absolute;
  top: 0;
  right: 32px;
  width: 22px;
  height: 52px;
  z-index: 10000;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.mat-select-panel {
  max-height: 286px !important;
}

.element-buttons {
  position: absolute;
  top: 58px;
  right: 0px;
}

.text-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.heading-select {
  width: 6.5em !important;
}

.tab-icon {
  margin-left: 6px;
  margin-right: 6px;
}

.field-row {
  height: 2.25em !important;
}
.field-col {
  height: 2em !important;
}

.field-value-cell {
  display: table-cell;
  text-align: left;
}

.edit-container-attributes {
  padding: 12px 8px 0px 40px;
  min-height: 300px;
  overflow: hidden;
}

.edit-tab11-container {
  padding: 4px 8px 8px 8px;
  overflow: hidden;
}
.edit-tab12-container {
  padding: 4px 8px 8px 8px;
  min-height: 100%;
  /* overflow-y: scroll !important; */
}

.kd-sizes {
  width: 5em;
  padding: 0.5em 1em;
}

.kd-edit-img-box {
  margin-left: 5em;
}

.kd-children-tools {
  padding: 0 10px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  font-size: 14px;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-field-textarea-code {
  font-family: Menlo, monospace;
  font-size: 0.9em;
  line-height: 1.6em;
}

.form-field-short .mat-form-field-infix {
  width: 6.4em !important;
}

.form-field-short {
  width: 6.4em !important;
}

.form-field-medium {
  width: 200px !important;
}

.form-field-short input[type='number'] {
  width: 5.5em;
}
