/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.form-field {
  position: relative;
  top: -5px;
  left: 0px;
  width: 125px;
}
.aux-header {
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 6000;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-route {
  /* min-width: 450px; */
}
.mat-column-whois {
  width: 240px;
  max-width: 240px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
.whois-descr {
  font-size: 14px;
  font-family: monospace;
  width: 240px;
  max-width: 240px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-column-created_at {
  width: 160px;
}
.mat-column-sessions {
  width: 55px;
}
.mat-column-impressions {
  width: 70px;
}
.mat-column-refered {
  width: 70px;
}
.mat-column-referer {
  width: 220px;
}
.mat-column-level {
  width: 85px;
}
.mat-column-os {
  width: 80px;
}
.mat-column-browser {
  width: 80px;
}
.mat-column-last_active {
  width: 100px;
}
.mat-column-nickname {
  width: 100px;
}
.mat-column-remote_address {
  width: 150px;
}
.mat-column-country {
  width: 120px;
}
.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.fib {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.6em;
  line-height: 1.2em;
  padding-right: 0.5em;
}
.fi:before {
  content: '\00a0';
}
.fi.fis {
  width: 1.2em;
}
.agent-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1.333333em;
  margin: 0 2px;
}
.agent-icon:before {
  content: '\00a0';
}
.with-svg {
  display: flex;
  align-items: center;
}
