.elm-date {
  width: 7em;
}

.store-box {
  padding: 0 20px 0 10px;
  vertical-align: middle;
  height: 34px;
  width: calc(100% - 30px);
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  font-size: 14px;
  /* line-height: 1; */
  border-bottom: 1px #fff;
  white-space: nowrap;
}

.item-label {
  display: table-cell;
  padding: 0 0em;
  max-width: 24em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}

.sign-cell {
  display: table-cell;
  font-family: 'NeoEuler';
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  min-width: 55px;
  padding-right: 4px;
}

.ident-cell {
  display: table-cell;
  width: 2em !important;
  white-space: nowrap;
  overflow: hidden;
}

.numeration-cell-edit {
  font-variant-numeric: tabular-nums;
  display: table-cell;
  min-width: 45px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
}

.ref-cell {
  display: table-cell;
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  top: 2px;
}
