.cell-numeration-table {
  display: table-cell;
  vertical-align: top;
  white-space: nowrap;
  min-width: 50px;
  padding-right: 5px;
  opacity: 0.7;
}
table {
  margin: 1em 0 1em 0;
}
.fit-content {
  width: fit-content;
}
.header {
  padding: 0 4px 0 4px;
}

.no-header-row {
  height: 20px !important;
}
.caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em !important;
}
.kd-tr-hilite {
  background-color: rgba(100, 110, 174, 0.1);
}
.dynamic-ui {
  padding-right: 0px !important;
}
.text {
  overflow: hidden;
}

.cell-caption {
  display: table-cell;
  vertical-align: top;
  margin-bottom: 1em !important;
}

.captionxxx {
  /*
  display: inline-block;
  */
  margin-bottom: 0.5em;
}
