#username {

  /*
  color: #ddd !important;
	color: #212121;
	border: 1px solid #b8b8b8;
  */
  /*
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: #ddd !important;
  */
}

#password {
  /*
	color: #212121;
	border: 1px solid #b8b8b8;
	*/
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #eee;
  -webkit-box-shadow: 0 0 0px 1000px #212121 inset;
  transition: background-color 5000s ease-in-out 0s;
}


.kd-variable {
  color: #111 !important;
}


