.virtual-viewport {
  min-height: calc(100vh - 300px);
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.virtual-item-store {
  height: 30px;
  vertical-align: middle;
}

.kd-store-box {
  padding: 0 10px 0 10px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  font-size: 14px;
  overflow: hidden;
  line-height: 1;
  border-bottom: 1px #fff;
}
