.poster-wrapper {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.poster {
  display: inline-block;
  width: clamp(600px, 800px, 800px);
  height: fit-content;
  padding: 30px 12px 12px 12px;
  border-radius: 6px;
}
.handheld-poster {
  display: inline-block;
  width: 100% !important;
  height: 100% !important;
  padding: 12px !important;
}
.message-wrapper {
  width: 100%;
  text-align: center !important;
}

.handheld-portrait {
  height: 100% !important;
}
.titel-portrait {
  padding: 100px 0px 50px 0px;
}

.handheld-portrait-message {
  text-align: center !important;
  font-size: 1.2em !important;
  top: -20px !important;
}

.message {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 20px;
}
.handheld-message {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 0px;
}
.enter-button {
  position: relative;
  top: 30px;
  font-size: 24px;
  opacity: 8.7;
}
