@use '@angular/material' as mat;
@import './_app-theme';
/*
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';
*/

// Include material core styles.
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();


// Define the light theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme($primary, $accent);
@include mat.all-component-themes($theme);
@include material-docs-app-theme($theme);