
.element-title {
    font-family: "myriad-pro-condensed", "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
    font-size: 28px;
    vertical-align: middle;
    font-weight: 400;
    margin-bottom: 2px;
    /*
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
  }